@import url("https://fonts.googleapis.com/css2?family=Literata:ital,wght@0,400;0,700;1,400&display=swap");
@import url(https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap);
@font-face {
  font-family: drop;
  src: url(../Spring.ttf);
}
a {
  text-decoration: none;
  color: blue;
}
hr {
  margin: 0;
  padding: 0;
}
.h1 {
  margin: 0;
  text-align: center;
}
h2 {
  font-family: "Dancing Script";
  line-height: 120%;
  text-align: center;
  font-size: 150%;
  margin: 3em 0 3em 0;
}
body {
  line-height: 120%;
  font-family: "Literata", serif;
  margin: 0;
  margin-top: 0.2em;
}
p {
  line-height: 1.5em;
  text-align: justify;
  text-indent: 1.5em;
  margin-top: 0;
  margin-bottom: 0.5em;
  orphans: 1;
  widows: 1;
}
a {
  text-decoration: none;
}
.center {
  text-indent: 0;
  text-align: center;
}
.ri {
  text-indent: 0;
  text-align: right;
}
.le {
  text-indent: 0;
  text-align: left;
}
.drop {
  font-family: drop;
  font-size: 400%;
  font-weight: normal;
  line-height: 40%;
  margin-top: 0;
  margin-bottom: 0;
  float: left;
}
.n {
  text-indent: 0;
}
header {
  margin: 2em 0 2em;
}
header > p {
  text-align: center;
  text-indent: 0;
  text-transform: uppercase;
  opacity: 0.6;
}
header > p:last-child {
  font-size: 1.3em;
  opacity: 0.9;
}
header > p:last-child:before {
  content: "－－－－－－－－ ";
  display: block;
  font-size: 0.7em;
}
.end {
  font-family: sans-serif;
  text-align: center;
  text-indent: 0;
  font-size: 1.5em;
  margin: 1em 0 3em 0;
}
div.letter p {
  font-style: italic;
  text-indent: 0.8em;
}
.extract {
  margin: 1em 0;
}
.noindent, .venue + p, .separator + p, .chapter + p {
  text-indent: 0;
}
a {
  text-decoration: none;
  color: #007bff;
}
a.noteword {
  color: initial;
  border-bottom: 1px dotted grey;
}
.break {
  padding-top: 3em;
  orphans: 3;
}
sup {
  font-size: 0.8em;
  vertical-align: 20%;
}
div.credit {
  margin-top: 5em;
}
div.credit > p {
  text-align: center;
  text-indent: 0;
}
p.top05 {
  margin-top: 0.5em;
}
blockquote {
  padding-left: 1.5em;
  font-size: 93%;
  text-indent: 1em;
}
[id^="swap-"] {
  font-style: italic;
  color: initial;
  border-bottom: 1px dotted grey;
}
[id^="swap-"] > .opt2, .show_opt2 > .opt1 {
  display: none;
}
.show_opt2 > .opt2 {
  display: inline;
}
div.jacket {
  margin: auto;
  width: 100vw;
  height: 100vh;
  position: fixed;
}
div.jacket > div {
  text-align: center;
  font-family: serif;
  line-height: 1.4;
  width: 100%;
}
div.jacket > div > span {
  display: block;
}
div.top {
  top: 6%;
  text-transform: uppercase;
  position: absolute;
}
div.middle {
  top: calc(46vh - 4.5em);
  position: absolute;
  text-align: center;
  height: 15em;
}
div.bottom {
  bottom: 6%;
  position: absolute;
}
span.series {
  margin-bottom: 0.8em;
  font-size: 0.9em;
  opacity: 0.8;
}
span.title {
  font-family: sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
  display: block;
  opacity: 0.7;
}
details {
  text-align: center;
  margin-top: 33vh;
  font-family: monospace;
}
details summary::-webkit-details-marker {
  display: none;
}
div.hinh {
  border: 0 solid;
}
div.hinh img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  max-width: 100%;
  padding: 0 0 0 0;
}
div.mieuta {
  padding: 0 0 1em 0;
  text-indent: 0;
  text-align: center;
  margin: 0.3em;
  font-size: 90%;
}
div.mieuta1 {
  padding: 0 0 1em 0;
  text-indent: 0;
  margin: 0.3em;
  font-size: 90%;
}
div.box1 {
  border: 2px solid;
  margin: 0.5em;
  padding: 0;
}
div.box1_title {
  border-bottom: 2px solid;
  margin: 0;
  padding: 0.2em 0 0.2em 0;
  font-weight: bold;
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: left;
  text-indent: 1em;
}
div.box1_content {
  margin: 0;
  padding: 0.2em 0.5em 0.2em 0.5em;
}
p.box1_content_title {
  margin: 0;
  padding: 0.2em 0 0.2em 0;
  font-weight: bold;
  font-size: 1.2em;
  text-align: left;
  text-indent: 0;
}
p.box1_content {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 1em;
  text-align: justify;
  text-indent: 1.5em;
}
p.box1_content_title + p.box1_content {
  margin: 1em 0 0 0;
  padding: 0;
  text-indent: 0;
}
p.box1_content_title + p.box1_content:first-letter {
  float: left;
  font-size: 2.5em;
  margin: -0.1em 0 -0.2em 0;
  padding: 0;
}
p.box1_content_notes {
  margin: 1em 0 0 0;
  padding: 0;
  font-weight: normal;
  font-size: 1em;
  text-align: justify;
  text-indent: 0;
}
/* This defines styles and classes used in the book */
body {
  margin: 5%;
  text-align: justify;
  font-size: medium;
}
code {
  font-family: monospace;
}
nav#toc ol, nav#landmarks ol {
  padding: 0;
  margin-left: 1em;
}
nav#toc ol li, nav#landmarks ol li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a.footnote-ref {
  vertical-align: super;
}
em, em em em, em em em em em {
  font-style: italic;
}
em em, em em em em {
  font-style: normal;
}
code {
  white-space: pre-wrap;
}
span.smallcaps {
  font-variant: small-caps;
}
span.underline {
  text-decoration: underline;
}
q {
  quotes: "“" "”" "‘" "’";
}
div.column {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}
div.hanging-indent {
  margin-left: 1.5em;
  text-indent: -1.5em;
}

.box	{
	display: block; 
	margin-top:5%;
	margin-bottom: 5%;
	margin-right: 5%;
	margin-left: 5%;
}

.boxTextCenter	{
	display: block; 
	text-align: center;
	text-indent: 0%;
	margin-bottom: 0%;	
	margin-top: 0%;	
}